.TimeTrackList {
  margin-top: 4px;
  width: 100%;
  flex: 1;
  padding: 0px 59px 0 60px;
  box-sizing: border-box;
}
.TimeTrackList-timeTrackListContainer {
  height: 100%;
}

.TimeTrackList-add {
  position: fixed;
  z-index: 1000;
  right: 120px;
  top: 40px;
}
